# Web Framework
fastapi[all]
uvicorn[standard]
gunicorn

# Database & Migration
sqlalchemy
psycopg2-binary
alembic

# Security & Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

# Validation & Utilities
pydantic[email]
python-dotenv
pydantic-settings

# Testing (ถ้าจะรัน test ใน docker ด้วย)
pytest
httpx
